@using Blazorise

<div class="container border-5 mt-5">
    <h2 class="text-center pt-2">Crime Scene Map</h2>
    <div id="myMap"  style="position:relative;width:100%;min-width:290px;height:600px;">
    </div>
</div>
