@using Blazorise
@inherits LayoutComponentBase

<div class="container border-5 mt-5">
    <h2 class="fw-bolder text-center pt-4"Style="color: #800080;">Crime Scene Map </h2>
    <div id="myMap" style="position:relative;width:100%;min-width:290px;height:600px;">
    </div>
</div>
