@inherits LayoutComponentBase;
 @using Services;


<div class="page" style="background-color:  #faf9f6;">
    <main>
        <NavMenu />
        <article class="content px-4" >
            <CascadingValue Value="@ApplicationState">
                @Body
            </CascadingValue>
        </article>
        <FooterNav />
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{
    public AppState ApplicationState { get; set; } = new();
}

